<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon> 
    </button>
    <ion-title>
      Repos
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Repos view page</h3>
   <ion-searchbar (input)="search($event)" ></ion-searchbar>
  <ion-list>
    <button ion-item *ngFor="let repo of repositories">
      <ion-avatar item-left>
      </ion-avatar>
      <h2>{{ repo.full_name }}</h2>
      <ion-icon name="arrow-forward" item-right></ion-icon>
    </button>
  </ion-list>
</ion-content>