<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
    Organisations
  </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Organizations view page</h3>
  <ion-searchbar (input)="search($event)" ></ion-searchbar>
  <ion-list>
    <button ion-item *ngFor="let organization of organizations">
      <ion-avatar item-left>
        <img [src]="organization.avatar_url">
      </ion-avatar>
      <h2>{{ organization.login }} - {{organization.id }}</h2>
      <ion-icon name="arrow-forward" item-right></ion-icon>
    </button>
  </ion-list>
</ion-content>
